# PlayerTrace uses a Google-based C++ style.
---
Language: Cpp
BasedOnStyle: Google
Standard: c++17
ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Preserve
SortIncludes: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
